{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,

  "overrides": [
    {
      "files": ["*.json", ".eslintrc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
